* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

html,
body {
height: 100%;
width: 100%;
display: flex;
}
body{
    background-color: black;
}

.cards{
    height: 320px;
    width: 260px;
    background: rgb(104, 244, 237);
    text-align: center;
    color:black;
    margin: 22px 12px;
    border-radius: 12px;
}
.cards img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    margin-top: 53px;
    border-radius: 50%;
}
.cards h2{
    margin-top: 12px;   
}
.cards p{
    margin-top: 12px;
}

