* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

html,
body {
height: 100%;
width: 100%;
}

.cards{
    height: 400px;
    width: 360px;
    background: black;
    text-align: center;
}
.cards img{
    height: 100px;
}